<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8776392562-hu3brfdcshjlq57jd7njo060i9t9dubc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8776392562-hu3brfdcshjlq57jd7njo060i9t9dubc</string>
	<key>API_KEY</key>
	<string>AIzaSyDPSXR_WW4z7WueNyT3OqkTwDmxiCu8VC4</string>
	<key>GCM_SENDER_ID</key>
	<string>8776392562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ovpbiotech.OVPBiotech</string>
	<key>PROJECT_ID</key>
	<string>ovpbiotech-27019</string>
	<key>STORAGE_BUCKET</key>
	<string>ovpbiotech-27019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8776392562:ios:36dec933ef1a37573107eb</string>
</dict>
</plist>